<div class="row">
  <div class="col m3">
    <div class="container">
      <ul>
        {% for circle in circles %}
          <li class = "card-panel {{circle.color}}" {% if circle.color != "white" %} style = "color: white;" {% endif %}>{{circle}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container">
    <!-- Messages -->
    <div class="col s12 m9">
      {% for message in messages %}
        <div class="card-panel">
          <!-- User -->
          <div class="row">
            <div class="col s3">
              {{message.author}}
            </div>
          </div>

          <!-- Message -->
          <div class="row">
            <div class="col s12">
              {{message.message}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
